<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="statistic__item statistic__item--green">
      <h2 class="number">10,368</h2>
      <span class="desc">members online</span>
      <div class="icon">
        <i class="fas fa-list"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="statistic__item statistic__item--orange">
      <h2 class="number">388,688</h2>
      <span class="desc">items sold</span>
      <div class="icon">
        <i class="fas fa-list"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="statistic__item statistic__item--blue">
      <h2 class="number">1,086</h2>
      <span class="desc">this week</span>
      <div class="icon">
        <i class="fas fa-list"></i>

      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="statistic__item statistic__item--red  ">
      <h2 class="number">$1,060,386</h2>
      <span class="desc">total earnings</span>
      <div class="icon">
        <i class="fas fa-list"></i>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <fa-icon [icon]="faIcon.faList"></fa-icon>
        <strong class="card-title pl-2">{{ 'dashboard.title' | translate }} </strong>
      </div>
      <div class="card-body">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
          <table class="table table-borderless table-data3">
            <thead>
            <tr>
              <th>date</th>
              <th>type</th>
              <th>description</th>
              <th>status</th>
              <th>price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>2018-09-29 05:57</td>
              <td>Mobile</td>
              <td>iPhone X 64Gb Grey</td>
              <td class="process">Processed</td>
              <td>$999.00</td>
            </tr>
            <tr>
              <td>2018-09-28 01:22</td>
              <td>Mobile</td>
              <td>Samsung S8 Black</td>
              <td class="process">Processed</td>
              <td>$756.00</td>
            </tr>
            <tr>
              <td>2018-09-27 02:12</td>
              <td>Game</td>
              <td>Game Console Controller</td>
              <td class="denied">Denied</td>
              <td>$22.00</td>
            </tr>
            <tr>
              <td>2018-09-26 23:06</td>
              <td>Mobile</td>
              <td>iPhone X 256Gb Black</td>
              <td class="denied">Denied</td>
              <td>$1199.00</td>
            </tr>
            <tr>
              <td>2018-09-25 19:03</td>
              <td>Accessories</td>
              <td>USB 3.0 Cable</td>
              <td class="process">Processed</td>
              <td>$10.00</td>
            </tr>
            <tr>
              <td>2018-09-29 05:57</td>
              <td>Accesories</td>
              <td>Smartwatch 4.0 LTE Wifi</td>
              <td class="denied">Denied</td>
              <td>$199.00</td>
            </tr>
            <tr>
              <td>2018-09-24 19:10</td>
              <td>Camera</td>
              <td>Camera C430W 4k</td>
              <td class="process">Processed</td>
              <td>$699.00</td>
            </tr>
            <tr>
              <td>2018-09-22 00:43</td>
              <td>Computer</td>
              <td>Macbook Pro Retina 2017</td>
              <td class="process">Processed</td>
              <td>$10.00</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- END DATA TABLE-->
      </div>
    </div>
  </div>


</div>
<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <fa-icon [icon]="faIcon.faList"></fa-icon>
        <strong class="card-title pl-2">{{ 'dashboard.title' | translate }} </strong>
      </div>
      <div class="card-body">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
          <table class="table table-borderless table-data3">
            <thead>
            <tr>
              <th>date</th>
              <th>type</th>
              <th>description</th>
              <th>status</th>
              <th>price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>2018-09-29 05:57</td>
              <td>Mobile</td>
              <td>iPhone X 64Gb Grey</td>
              <td class="process">Processed</td>
              <td>$999.00</td>
            </tr>
            <tr>
              <td>2018-09-28 01:22</td>
              <td>Mobile</td>
              <td>Samsung S8 Black</td>
              <td class="process">Processed</td>
              <td>$756.00</td>
            </tr>
            <tr>
              <td>2018-09-27 02:12</td>
              <td>Game</td>
              <td>Game Console Controller</td>
              <td class="denied">Denied</td>
              <td>$22.00</td>
            </tr>
            <tr>
              <td>2018-09-26 23:06</td>
              <td>Mobile</td>
              <td>iPhone X 256Gb Black</td>
              <td class="denied">Denied</td>
              <td>$1199.00</td>
            </tr>
            <tr>
              <td>2018-09-25 19:03</td>
              <td>Accessories</td>
              <td>USB 3.0 Cable</td>
              <td class="process">Processed</td>
              <td>$10.00</td>
            </tr>
            <tr>
              <td>2018-09-29 05:57</td>
              <td>Accesories</td>
              <td>Smartwatch 4.0 LTE Wifi</td>
              <td class="denied">Denied</td>
              <td>$199.00</td>
            </tr>
            <tr>
              <td>2018-09-24 19:10</td>
              <td>Camera</td>
              <td>Camera C430W 4k</td>
              <td class="process">Processed</td>
              <td>$699.00</td>
            </tr>
            <tr>
              <td>2018-09-22 00:43</td>
              <td>Computer</td>
              <td>Macbook Pro Retina 2017</td>
              <td class="process">Processed</td>
              <td>$10.00</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- END DATA TABLE-->
      </div>
    </div>
  </div>


</div>
